%section.border-box
	%h1.title Our Community
	- @users.each do |user|
		-if user.profile
			-if user.profile.avatar			
				%div.comment
					%div.comment-image
						= link_to user do 
							= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar'
					%div.comment-content
						= link_to user do 
							%h1
								= user.profile.first_name
								= user.profile.last_name
								-if user.plan_id == 2
									%span.badge-error
										%em PRO
							%p
								= user.profile.description
				%div.border-bottom
