<%= image_tag @user.profile.avatar.url, class: "user-show-avatar" %>
<h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
<h3><%= @user.profile.job_title %></h3> 
<% if current_user.plan_id == 2 %>
	<h3>About me</h3>
	<%= @user.profile.description %>
	<h3>Contact Info</h3>
	<%= @user.profile.contact_email %>
<% end %>