%section.border-box.contact
	%div.form-box
		%h1.title Contact Us
	= form_for @contact do |form|
		= form.label :name
		= form.text_field :name

		= form.label :email
		= form.email_field :email, autofocus: true

		= form.label :comments
		= form.text_area :comments
		= form.submit "Submit"
